@charset "UTF-8";


body{
	background-color: darkorange
}



.zaza{
	font-size:large;
	font-style:italic;
}
.myheader{
	background-color:floralwhite; 
	widht: 100%;
	height: 50px;
	
}
#nicename{
    border: thick dotted  #FF1B1F;
	background-color: aqua;
    padding: 10px;
}